# [ 두 정수 사이의 합 ]
두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.
예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

### 통과 풀이 및 보완 코드

In [9]:
# test 1 (O)
def solution(a, b):
    answer = 0
    if a >= b :
        for i in range(b, a + 1) :
            answer += i
    else :
        for i in range(a, b + 1) :
            answer += i
    return answer

In [11]:
solution(3,5)

12

In [12]:
# test 2 -> range 함수를 이용한 sum (코드 줄이기)
def solution(a, b):
    return sum(range(a,b+1) if a <= b else range(b,a+1))

In [13]:
solution(3,5)

12

# [ 콜라츠 추측 ]
예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요. 단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

### 통과 풀이 및 보완 코드

In [13]:
# test 1 (O)
def solution(n):
    count = 0
    # n이 1이 될때까지 while문 실행
    while n > 1 :
        if n % 2 == 0 :
            n = n / 2
        else :
            n = n * 3 + 1
        count += 1
        # count가 500이 되면 -1 반환
        if count == 500 :
            return -1
    return count

In [14]:
solution(626331)

-1

# [ 서울에서 김서방 찾기 ]
String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, "김서방은 x에 있다"는 String을 반환하는 함수, solution을 완성하세요. seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

### 통과 풀이 및 보완 코드

In [20]:
# test 1 (O)
def solution(seoul):
    for i in range(len(seoul)) :
        if seoul[i] == 'Kim' :
            return f'김서방은 {i}에 있다'

In [22]:
solution(["Jane", "Kim"])

'김서방은 1에 있다'

In [23]:
# test 2 -> for 문 없이 'Kim'의 인덱스를 찾기
def findKim(seoul):
    return "김서방은 {}에 있다".format(seoul.index('Kim'))

In [24]:
solution(["Jane", "Kim"])

'김서방은 1에 있다'

# [ 핸드폰 번호 가리기 ]
프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가립니다.
전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 리턴하는 함수, solution을 완성해주세요.

### 통과 풀이 및 보완 코드

In [32]:
def solution(phone_number):
    answer = ''
    answer += '*' * len(phone_number[:-4])
    answer += phone_number[-4:]
    return answer

In [33]:
solution("01033334444")

'*******4444'

# [ 나누어 떨어지는 숫자 배열 ]
array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수, solution을 작성해주세요.
divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 반환하세요.

### 통과 풀이 및 보완 코드

In [42]:
def solution(arr, divisor):
    answer = []
    for i in arr :
        if i % divisor == 0 :
            answer.append(i)
    if len(answer) == 0 :
        answer.append(-1)
    return sorted(answer)

In [43]:
solution([3,2,6], 10)

[-1]

# [ 제일 작은 수 제거하기 ]
정수를 저장한 배열, arr 에서 가장 작은 수를 제거한 배열을 리턴하는 함수, solution을 완성해주세요. 단, 리턴하려는 배열이 빈 배열인 경우엔 배열에 -1을 채워 리턴하세요. 예를들어 arr이 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10]면 [-1]을 리턴 합니다.

In [56]:
# test 1 (X) -> sort 하면 각 원소의 인덱스가 달라져서 에러 발생
def solution(arr):
    arr = sorted(arr, reverse=True)[:-1]
    if len(arr) == 0 :
        return [-1]
    else :
        return arr

In [58]:
solution([6,8,7])

[8, 7]

In [66]:
# test 2 (O)
def solution(arr):
    arr.remove(min(arr))
    if len(arr) == 0 :
        return [-1]
    else :
        return arr

In [68]:
solution([10])

[-1]

# [ 음양 더하기 ]
어떤 정수들이 있습니다. 이 정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어집니다. 실제 정수들의 합을 구하여 return 하도록 solution 함수를 완성해주세요.

### 통과 풀이 및 보완 코드

In [11]:
def solution(absolutes, signs):
    for i in range(len(signs)) :
        if signs[i] == False :
            absolutes[i] = -absolutes[i]
    return sum(absolutes)

In [13]:
solution([4,7,12], [True, False, True])

9

# [ 없는 숫자 더하기 ]
0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다. numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return 하도록 solution 함수를 완성해주세요.

### 통과 풀이 및 보완 코드

In [19]:
def solution(numbers):
    count = 0
    for i in range(0,10):
        if i not in numbers :
            count += i
    return count

In [20]:
solution([1,2,3,4,6,7,8,0])

14

In [21]:
def solution(numbers):
    return 45 - sum(numbers)

In [22]:
solution([1,2,3,4,6,7,8,0])

14