## 옷가게 할인 받기

In [16]:
def solution(price):
    if price >= 100000 and price < 300000:
        return int(price * 0.95)
    elif price >= 300000 and price < 500000:
        return int(price * 0.9)
    elif price >= 500000:
        return int(price * 0.8)

In [17]:
solution(580000)

464000

## 문자열 안에 문자열

In [31]:
# test 1 (X)
def solution(str1, str2):
    answer = str1.split(str2)
    if len(answer) == 2:
        return 1
    else:
        return 2

In [33]:
solution("ab6CDE443fgh22iJKlmn1o", "6CD")

1

In [52]:
# test 2 (X)
def solution(str1, str2):
    answer = str1.split(str2)
    if len(answer) == 2:
        return 1
    elif len(answer) == 1:
        return 2

In [54]:
solution("sdifrrhsk12sdkj2", "12sc")

2

In [56]:
# test 3 (O)
def solution(str1, str2):
    answer = str1.split(str2)
    if len(answer) == 1:
        return 2
    else :
        return 1

In [58]:
solution("sdifrrhsk12sdkj2", "sd")

1

In [59]:
# test 4 (O)
def solution(str1, str2):
    if str2 in str1:
        return 1
    else:
        return 2

In [60]:
solution("ab6CDE443fgh22iJKlmn1o", "6CD")

1

## 중복된 문자 제거

In [67]:
def solution(my_string):
    answer = ''
    for i in list(my_string):
        if i not in answer:
            answer += i
    return answer

In [68]:
solution("We are the world")

'We arthwold'

## 문자열 정렬하기

In [84]:
# test 1 (O)
def solution(my_string):
    answer = []
    digit = ['0','1','2','3','4','5','6','7','8','9']
    for i in list(my_string):
        if i in digit:
            answer.append(int(i))
            answer.sort()
    return answer

In [88]:
# test 2(O)
def solution(my_string):
    answer = []
    for i in my_string:
        if i.isdigit():
            answer.append(int(i))
    answer.sort()
    return answer

In [87]:
solution("hi12392")

[1, 2, 2, 3, 9]

## 모음 제거

In [89]:
def solution(my_string):
    n_list = ['a','e','i','o','u']
    answer = ''
    for i in my_string:
        if i not in n_list:
            answer += i
    return answer

In [90]:
solution("nice to meet you")

'nc t mt y'

## 대문자와 소문자

In [117]:
def solution(my_string):
    answer = ''
    for i in list(my_string):
        if i.isupper():
            a = i.lower()
            answer += a
        elif i.islower():
            b = i.upper()
            answer += b
    return answer

In [118]:
solution('SSSsss')

'sssSSS'

In [119]:
def solution(my_string):
    answer = ''
    for i in list(my_string):
        if i.isupper():
            answer += i.lower()
        elif i.islower():
            answer += i.upper()
    return answer

In [120]:
solution('SSSsss')

'sssSSS'

## 외계행성의 나이

In [155]:
def solution(age):
    n_list = ['a','b','c','d','e','f','g','h','i','j']
    answer = ''
    for i in str(age):
        for j in range(1, 10):
            j = n_list[int(i)]
        answer += j
    return answer

In [156]:
solution(100)

'baa'